In [1]:
import pandas as pd
import numpy as np

# Load the Stata dataset
df = pd.read_stata(r"C:\Users\ngodin\Dropbox\RESEARCH\active_projects\florida_condo\final_datasets\master_datasets\master_dataset_unit_crossection.dta")

# Variables to summarize
vars_of_interest = [
    'total_monthly_hoa_attom_unit', 'num_units_final_assoc', 'num_bldgs_final_assoc',
    'num_stories_final_assoc', 'sqft_attom_unit', 'yr_blt_attom_bldg',
    'miles_to_coast_assoc', 'frac_npexcorp_state_attom_assoc', 'frac_corp_own_attom_assoc',
    'corp_mgmt_city_attom_assoc', 'med_income_nonprimary_assoc',
    'percap_income_prop_zip', 'firststreet_risk_cat_assoc'
]

# Label mapping for LaTeX
var_rename = {
    'total_monthly_hoa_attom_unit': 'Monthly HOA Fee',
    'num_units_final_assoc': 'Units',
    'num_bldgs_final_assoc': 'Buildings',
    'num_stories_final_assoc': 'Stories',
    'sqft_attom_unit': 'Unit Sqft',
    'yr_blt_attom_bldg': 'Year Built',
    'miles_to_coast_assoc': 'Miles to Coast',
    'frac_npexcorp_state_attom_assoc': 'Frac. Out-of-State Owners',
    'frac_corp_own_attom_assoc': 'Frac. Corp Owners',
    'corp_mgmt_city_attom_assoc': 'Corp Mgmt (City)',
    'med_income_nonprimary_assoc': 'Med Income (Nonprimary)',
    'percap_income_prop_zip': 'Per Capita Income (ZIP)',
    'firststreet_risk_cat_assoc': 'Flood Risk (First Street)'
}

# Assign groups
def story_group(n):
    if pd.isna(n): return np.nan
    elif n <= 2: return '1-2'
    elif n <= 4: return '3-4'
    elif n <= 9: return '5-9'
    else: return '10+'

def county_group(c):
    if c in ['MIAMI-DADE', 'BROWARD']:
        return 'Miami/Broward'
    elif pd.isna(c):
        return np.nan
    else:
        return 'Other'

df['StoryGroup'] = df['num_stories_final_assoc'].apply(story_group)
df['CountyGroup'] = df['mm_fips_county_name_attom'].apply(county_group)

# Add 'All' category for story and county
df['StoryGroupAll'] = df['StoryGroup'].fillna('All')
df['CountyGroupAll'] = df['CountyGroup'].fillna('All')

# Define story/county categories
story_groups = ['1-2', '3-4', '5-9', '10+', 'All']
county_groups = ['Miami/Broward', 'Other', 'All']
group_combos = [(s, c) for s in story_groups for c in county_groups]

# Collect summary stats
rows = []

for var in vars_of_interest:
    for stat in ['Mean', 'Median', 'Std. Dev.']:
        row = {'Variable': var_rename.get(var, var), 'Statistic': stat}
        for s, c in group_combos:
            sub = df.copy()
            if s != 'All':
                sub = sub[sub['StoryGroup'] == s]
            if c != 'All':
                sub = sub[sub['CountyGroup'] == c]
            x = sub[var].dropna()
            val = np.nan
            if len(x) > 0:
                if stat == 'Mean':
                    val = x.mean()
                elif stat == 'Median':
                    val = x.median()
                elif stat == 'Std. Dev.':
                    val = x.std()
            col_label = f"{s} | {c}"
            row[col_label] = round(val, 2) if pd.notna(val) else ''
        rows.append(row)

summary_df = pd.DataFrame(rows)

# Sort for cleaner presentation
summary_df = summary_df.sort_values(by=['Variable', 'Statistic'])

summary_df

,Variable,Statistic,1-2 | Miami/Broward,1-2 | Other,1-2 | All,3-4 | Miami/Broward,3-4 | Other,3-4 | All,5-9 | Miami/Broward,5-9 | Other,5-9 | All,10+ | Miami/Broward,10+ | Other,10+ | All,All | Miami/Broward,All | Other,All | All
6,Buildings,Mean,3.660000,4.940000,4.630000,5.880000,8.210000,7.250000,8.560000,6.430000,7.480000,2.720000,3.020000,2.810000,4.370000,5.410000,4.930000
7,Buildings,Median,1.000000,1.000000,1.000000,2.000000,2.000000,2.000000,2.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
8,Buildings,Std. Dev.,6.590000,12.440000,11.340000,8.780000,16.150000,13.660000,16.050000,14.490000,15.310000,3.250000,4.730000,3.750000,8.830000,12.630000,11.040000
27,Corp Mgmt (City),Mean,0.540000,0.600000,0.580000,0.650000,0.630000,0.640000,0.620000,0.580000,0.600000,0.570000,0.640000,0.590000,0.600000,0.610000,0.610000
28,Corp Mgmt (City),Median,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
29,Corp Mgmt (City),Std. Dev.,0.500000,0.490000,0.490000,0.480000,0.480000,0.480000,0.480000,0.490000,0.490000,0.500000,0.480000,0.490000,0.490000,0.490000,0.490000
36,Flood Risk (First Street),Mean,2.730000,2.880000,2.840000,2.320000,2.890000,2.650000,2.900000,4.040000,3.430000,4.830000,4.450000,4.730000,3.670000,3.530000,3.600000
37,Flood Risk (First Street),Median,3.000000,3.000000,3.000000,1.000000,3.000000,1.000000,3.000000,5.000000,4.000000,5.000000,5.000000,5.000000,4.000000,4.000000,4.000000
38,Flood Risk (First Street),Std. Dev.,1.810000,2.000000,1.960000,1.730000,2.050000,1.940000,1.980000,1.980000,2.060000,1.360000,1.780000,1.500000,1.970000,2.080000,2.030000
24,Frac. Corp Owners,Mean,0.210000,0.130000,0.150000,0.150000,0.120000,0.140000,0.150000,0.090000,0.120000,0.230000,0.090000,0.190000,0.200000,0.110000,0.160000
25,Frac. Corp Owners,Median,0.130000,0.070000,0.080000,0.080000,0.070000,0.070000,0.080000,0.060000,0.070000,0.210000,0.070000,0.160000,0.150000,0.070000,0.100000
26,Frac. Corp Owners,Std. Dev.,0.220000,0.180000,0.200000,0.180000,0.160000,0.170000,0.180000,0.110000,0.150000,0.150000,0.090000,0.150000,0.180000,0.150000,0.170000
21,Frac. Out-of-State Owners,Mean,0.090000,0.230000,0.200000,0.110000,0.260000,0.190000,0.120000,0.330000,0.220000,0.170000,0.340000,0.220000,0.140000,0.290000,0.220000
22,Frac. Out-of-State Owners,Median,0.060000,0.200000,0.150000,0.080000,0.220000,0.150000,0.080000,0.300000,0.210000,0.140000,0.310000,0.190000,0.100000,0.280000,0.180000
23,Frac. Out-of-State Owners,Std. Dev.,0.110000,0.170000,0.170000,0.110000,0.170000,0.160000,0.110000,0.160000,0.170000,0.120000,0.160000,0.150000,0.120000,0.170000,0.170000
30,Med Income (Nonprimary),Mean,105631.156250,98395.382812,99206.570312,105275.406250,101611.992188,102500.281250,107608.000000,103809.046875,104854.093750,113741.773438,106645.601562,110632.117188,110369.507812,102493.296875,104897.226562
31,Med Income (Nonprimary),Median,102996.000000,96359.000000,97134.010000,103066.000000,99900.500000,100250.000000,107037.000000,100782.500000,103628.500000,113449.990000,100172.000000,109195.000000,109310.000000,99534.000000,103316.000000
32,Med Income (Nonprimary),Std. Dev.,28530.530000,20560.940000,21720.390000,23691.210000,17394.650000,19176.810000,18905.540000,18866.780000,18953.460000,16569.540000,20988.220000,18964.690000,19984.060000,19284.590000,19835.100000
18,Miles to Coast,Mean,5.250000,9.500000,8.490000,6.470000,9.530000,8.270000,5.130000,3.200000,4.150000,1.090000,2.910000,1.630000,3.510000,6.530000,5.120000
19,Miles to Coast,Median,5.000000,4.230000,4.320000,6.800000,3.430000,4.880000,4.070000,0.350000,1.380000,0.460000,0.240000,0.400000,1.660000,1.340000,1.550000
20,Miles to Coast,Std. Dev.,3.890000,13.200000,11.830000,3.860000,14.950000,11.840000,4.250000,8.830000,7.040000,1.620000,8.980000,5.130000,3.870000,12.380000,9.530000
0,Monthly HOA Fee,Mean,309.950012,443.609985,420.869995,354.450012,473.470001,435.239990,608.409973,778.880005,701.140015,1234.680054,1081.839966,1199.430054,1033.589966,708.969971,868.760010
1,Monthly HOA Fee,Median,332.330000,350.000000,342.380000,325.000000,365.330000,345.830000,486.000000,700.000000,590.000000,917.000000,924.330000,917.000000,650.670000,535.000000,615.000000
2,Monthly HOA Fee,Std. Dev.,209.210000,437.430000,410.810000,318.500000,463.930000,426.330000,539.820000,554.210000,554.220000,1045.210000,814.280000,998.750000,1097.540000,696.810000,930.400000
33,Per Capita Income (ZIP),Mean,67392.710938,76796.859375,74568.281250,68321.921875,80699.640625,75613.742188,70071.781250,89137.726562,79787.523438,86101.382812,84051.898438,85496.632812,77500.156250,82729.156250,80286.062500
34,Per Capita Income (ZIP),Median,63368.000000,72965.000000,69249.000000,66269.000000,74711.000000,70734.000000,64457.000000,84769.000000,74803.000000,82955.000000,80438.000000,82955.000000,69249.000000,78731.000000,74711.000000
35,Per Capita Income (ZIP),Std. Dev.,16809.910000,20282.070000,19920.310000,18587.600000,22836.370000,22048.380000,20040.260000,24429.660000,24330.640000,30043.580000,21925.760000,27915.000000,26220.530000,23087.030000,24746.960000
9,Stories,Mean,1.970000,1.920000,1.930000,3.560000,3.340000,3.430000,6.180000,6.570000,6.380000,25.080000,16.059999,22.420000,13.440000,5.680000,9.380000
10,Stories,Median,2.000000,2.000000,2.000000,4.000000,3.000000,3.000000,6.000000,6.000000,6.000000,22.000000,15.000000,19.000000,7.000000,3.000000,5.000000
11,Stories,Std. Dev.,0.180000,0.270000,0.250000,0.500000,0.480000,0.500000,1.380000,1.320000,1.360000,12.950000,5.600000,12.020000,13.530000,5.500000,10.880000
12,Unit Sqft,Mean,903.080000,1026.950000,997.590000,957.770000,1090.100000,1035.730000,1064.910000,1221.250000,1144.580000,1317.240000,1357.740000,1329.190000,1146.330000,1142.530000,1144.310000
13,Unit Sqft,Median,870.000000,1015.000000,990.000000,944.000000,1078.000000,1008.000000,1028.000000,1200.000000,1100.000000,1181.000000,1270.000000,1202.000000,1030.000000,1102.000000,1072.000000
14,Unit Sqft,Std. Dev.,332.830000,412.000000,398.180000,826.420000,500.750000,657.710000,1601.330000,725.350000,1237.640000,2586.460000,1829.360000,2388.220000,2055.820000,1001.550000,1584.010000
3,Units,Mean,135.199997,218.889999,199.009995,350.970001,525.830017,453.920013,835.250000,395.049988,610.900024,693.440002,303.899994,578.729980,547.840027,377.000000,456.920013
4,Units,Median,52.000000,108.000000,95.000000,157.000000,199.000000,188.000000,245.000000,126.000000,170.000000,418.000000,192.000000,324.000000,258.000000,144.000000,193.000000
5,Units,Std. Dev.,242.770000,458.270000,418.810000,694.720000,1191.260000,1020.520000,1736.640000,756.900000,1348.660000,898.330000,316.550000,793.950000,1017.350000,888.840000,954.830000
15,Year Built,Mean,1975.700000,1982.850000,1981.120000,1978.710000,1988.890000,1984.680000,1982.300000,1985.450000,1983.910000,1986.790000,1987.890000,1987.120000,1983.520000,1986.310000,1985.010000
16,Year Built,Median,1974.000000,1981.000000,1980.000000,1977.000000,1988.000000,1982.000000,1980.000000,1982.000000,1981.000000,1981.000000,1984.000000,1982.000000,1980.000000,1984.000000,1982.000000
17,Year Built,Std. Dev.,13.740000,12.730000,13.340000,12.340000,14.180000,14.350000,13.410000,14.240000,13.930000,16.930000,15.230000,16.440000,16.270000,14.370000,15.350000

In [2]:
from collections import OrderedDict

# Variables to round as integers
int_vars = {
    'Units',
    'Buildings',
    'Stories',
    'Unit Sqft',
    'Year Built',
    'Flood Risk (First Street)',
    'Per Capita Income (ZIP)',
    'Med Income (Nonprimary)'
}

# All other variables will be rounded to 2 decimals


# Step 1: Extract column info
fixed_cols = ['Variable', 'Statistic']
data_cols = [col for col in summary_df.columns if col not in fixed_cols]

# Parse multilevel headers
col_tuples = [tuple(col.split('|')) for col in data_cols]
col_tuples = [(s.strip(), c.strip()) for s, c in col_tuples]

# Group by story level for multicolumn construction
story_order = ['1-2', '3-4', '5-9', '10+', 'All']
county_order = ['Miami/Broward', 'Other', 'All']
ordered_cols = [(s, c) for s in story_order for c in county_order if (s, c) in col_tuples]

# Reorder columns
new_columns = fixed_cols + [f'{s} | {c}' for s, c in ordered_cols]
summary_df = summary_df[new_columns]

# Step 2: Round numeric values
# for col in summary_df.columns:
#     if col not in fixed_cols:
#         summary_df[col] = pd.to_numeric(summary_df[col], errors='coerce').round(2)
for col in summary_df.columns:
    if col in ['Variable', 'Statistic']:
        continue

    for var in summary_df['Variable'].unique():
        mask = summary_df['Variable'] == var

        if var in int_vars:
            summary_df.loc[mask, col] = summary_df.loc[mask, col].apply(
                lambda x: (
                    f"{int(round(v))}"
                    if pd.notna(v := pd.to_numeric(x, errors="coerce"))
                    else ""
                )
            )
        else:
            summary_df.loc[mask, col] = summary_df.loc[mask, col].apply(
                lambda x: (
                    f"{v:.2f}"
                    if pd.notna(v := pd.to_numeric(x, errors="coerce"))
                    else ""
                )
            )

    
# for col in summary_df.columns:
#     if col in ['Variable', 'Statistic']:
#         continue

#     for var in summary_df['Variable'].unique():
#         mask = summary_df['Variable'] == var

#         if var in int_vars:
#             # Round and convert to int, then to string to avoid ".0"
#             summary_df.loc[mask, col] = (
#                 summary_df.loc[mask, col]
#                 .apply(lambda x: f"{int(round(x))}" if pd.notna(x) else '')
#             )
#         else:
#             # Round to 2 decimals and format as string
#             summary_df.loc[mask, col] = (
#                 summary_df.loc[mask, col]
#                 .apply(lambda x: f"{x:.2f}" if pd.notna(x) else '')
#             )

# Step 3: Generate LaTeX with custom multicolumn header
def generate_latex_table(df):
    lines = []
    lines.append(r'\begin{tabular}{ll' + 'c' * len(ordered_cols) + '}')
    lines.append(r'\toprule')

    # First header row: StoryGroup
    story_counts = OrderedDict()
    for s, _ in ordered_cols:
        story_counts[s] = story_counts.get(s, 0) + 1
    header1 = ['Variable', 'Statistic'] + [
        rf'\multicolumn{{{story_counts[s]}}}{{c}}{{{s} Stories}}' for s in story_counts
    ]
    lines.append(' & '.join(header1) + r' \\')
    lines.append(r'\cmidrule(lr){3-' + f'{2+len(ordered_cols)}' + '}')

    # Second header row: CountyGroup
    header2 = [' ', ' '] + [c for _, c in ordered_cols]
    lines.append(' & '.join(header2) + r' \\')
    lines.append(r'\midrule')

    # Data rows
    for _, row in df.iterrows():
        row_vals = [str(row[col]) for col in df.columns]
        lines.append(' & '.join(row_vals) + r' \\')

    lines.append(r'\bottomrule')
    lines.append(r'\end{tabular}')
    return '\n'.join(lines)

# Export LaTeX table
latex_code = generate_latex_table(summary_df)
with open('summary_stats_twolevel_header.tex', 'w') as f:
    f.write(latex_code)